body{
    background: #29bde0;
}
ul{
    padding: 3rem 4.5rem 6rem 4.5rem;
    box-sizing: border-box;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    border: .2rem solid #fff;
    background: #ffedc5;
}
.li-hm{
    position: absolute;
    top:6.8rem;
    width: 3rem;
    height: 3rem;
    background: #fff;
    border: .2rem solid #ffedc5;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    color: #f56b81;
    font-weight: bold;
}
.li-fp1{
    width: 10rem;
    height: 10rem;
    background: url("http://119.10.57.69:880/jnshu3961/js/task2/images/js-3.png")no-repeat;
    background-size: 10rem;
}
.li-fp2{
    display: none;
    width: 10rem;
    height: 20rem;
    background: url("http://119.10.57.69:880/jnshu3961/js/task2/images/js-4.png")no-repeat;
    background-size: 10rem;
}
.li-idtt{
    margin-top: 12rem;
    width: 100%;
    height: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #29bde0;
    background: #ffedc5;
}
.m-bt{
    padding: 0 4rem;
}
#m-bt-nx{
    font-size: 2rem;
}
.bt-nx{
    width: 100%;
    height: 2rem;
    font-size: 2rem;
    color: white;
    background: #fbb435;
    text-align: center;
}