html {
  font-size: 625%;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background: #f5f5f5;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h4,
h5,
h6 {
  margin: 0;
}
span {
  display: inline-block;
}
#input1,
#input2,
#input3,
#input4 {
  outline: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}
button {
  outline: none ;
  border: none;
  cursor: pointer;
}
/**重置样式**/
/**基础样式**/
.sd {
  float: left;
  width: 15.625%;
  height: 120vh;
  color: white;
  background: #232a3a;
}
.sd h4 {
  height: .5rem;
  line-height: .5rem;
  text-align: center ;
  font-weight: bold;
  font-size: .18rem;
  border-bottom: .01rem solid #fff;
  margin-bottom: .1rem;
}
.sd div {
  display: flex;
  align-items: center;
  height: .4rem;
  cursor: pointer;
  font-size: .16rem;
  border-left: 3px solid transparent ;
}
.sd div .sd-sp1 {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/sprite.png") no-repeat;
  background-position: -10px -74px;
  margin: 0 .14rem 0 .22rem;
}
.sd div .sd-sp2 {
  display: inline-block;
  width: 7px;
  height: 10px;
  background: url("../images/sprite.png") no-repeat;
  background-position: -10px -10px;
}
.sd div .title {
  width: 1.4rem;
}
.sd div:hover {
  background: #7b7f89;
}
.sd li {
  padding-left: .7rem;
  text-align: left;
  height: .4rem;
  line-height: .4rem;
  font-size: .16rem;
  cursor: pointer;
}
.sd li:hover {
  background: #7b7f89;
}
.mn {
  height: 100%;
  background: #f5f5f5;
}
.mn .mn-hd {
  height: .5rem;
  line-height: .5rem;
  font-size: .15rem;
  text-align: right;
  background: #fff;
}
.mn .mn-hd span {
  width: .9rem;
  height: .15rem;
  line-height: .15rem;
  text-align: center;
  border-left: .01rem solid #eee9e8;
}
.mn .mn-hd .cls {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../images/sprite.png") no-repeat;
  background-position: -10px -40px;
}
.mn .mn-bd {
  float: left;
  width: 84.375%;
  padding: .3rem ;
  box-sizing: border-box;
  font-size: .3rem;
}
.mn .mn-bd .mn-bd-ul1 {
  width: 100%;
  padding: .16rem .16rem .16rem .7rem;
  height: 1.6rem;
  box-sizing: border-box;
  border: .01rem solid #ddd;
  border-radius: .05rem;
  background: #fff;
  font-size: .15rem;
}
.mn .mn-bd .mn-bd-ul1 li {
  height: 33.33333%;
  display: flex;
  align-items: center;
}
.mn .mn-bd .mn-bd-ul1 li .w33 {
  display: flex;
  align-items: center;
  width: 33.33%;
  box-sizing: border-box;
}
.mn .mn-bd .mn-bd-ul1 li .w33 .w64 {
  width: 64%;
}
.mn .mn-bd .mn-bd-ul1 li .w33 .w64 p {
  margin: 0;
}
.mn .mn-bd .mn-bd-ul1 li .w33 .w35 {
  width: 35%;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
}
.mn .mn-bd .mn-bd-ul1 li .w33 select {
  width: 64%;
  height: .25rem;
  border: .01rem solid #ccc;
  border-radius: .03rem;
  outline: none;
}
.mn .mn-bd .mn-bd-ul1 .li1 {
  display: flex;
  justify-content: space-between;
}
.mn .mn-bd .mn-bd-ul1 .li3 {
  justify-content: flex-end;
}
.mn .mn-bd .mn-bd-ul1 .li3 button {
  width: .6rem;
  height: .3rem;
  margin: .02rem;
  border-radius: .03rem;
  color: #fff;
}
.mn .mn-bd .mn-bd-ul1 .li3 .bt1 {
  background: #d9534f;
}
.mn .mn-bd .mn-bd-ul1 .li3 .bt2 {
  background: #5cb85c;
}
.mn .mn-bd .mn-bd-bt {
  margin-top: .25rem;
  border: .01rem solid #ddd;
  border-radius: .05rem;
}
.mn .mn-bd .mn-bd-bt div {
  height: .4rem;
  padding: 0 .16rem;
  border-bottom: .01rem solid #ddd;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mn .mn-bd .mn-bd-bt div h6 {
  font-weight: bold;
}
.mn .mn-bd .mn-bd-bt div button {
  width: .5rem;
  height: .22rem;
  line-height: .22rem;
  background: #5cb85c;
  color: white;
  border-radius: .03rem;
  font-size: .13rem;
}
.mn .mn-bd .mn-bd-bt .ul3 {
  padding: .16rem;
  border: none;
  background: #fff;
  font-size: .15rem;
}
.mn .mn-bd .mn-bd-bt .ul3 li {
  height: .5rem;
  border: .01rem solid #ddd;
  text-align: left;
}
.mn .mn-bd .mn-bd-bt .ul3 .os {
  background: #f9f9f9;
}
.mn .mn-bd .mn-bd-bt .ul3 .last {
  border-bottom: .01rem solid #ddd;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt {
  height: .35rem;
  line-height: .35rem;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt span {
  text-align: center;
  font-weight: bold;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt .ide {
  width: .6rem;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt .nm {
  width: 2.5rem;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt .ty {
  width: 1.8rem;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt .tm1 {
  width: 1.4rem;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt .tm2 {
  width: 1.4rem;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt .fbz {
  width: 1.2rem;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt .sta {
  width: .6rem;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt .cz {
  width: 2.5rem;
  line-height: .35rem;
}
.mn .mn-bd .mn-bd-bt .ul3 .tt .cz button {
  padding: 3px 6px;
  margin-top: -5.2px;
}
/**公共组件**/
.page4 {
  height: auto;
  border: .01rem solid #ddd;
  border-radius: .05rem;
  background: #fff;
}
.page4 .page4-hd {
  height: .4rem;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  border-bottom: .01rem solid #ddd;
}
.page4 .page4-hd h6 {
  margin-left: .2rem;
}
.page4 .ul4 {
  padding: .1rem 2.4rem .3rem 1.4rem;
  border: none;
  font-size: .18rem;
}
.page4 .ul4 li {
  display: flex;
  align-items: center;
  height: .5rem;
  text-align: left;
}
.page4 .ul4 li .tt {
  font-size: .15rem;
  font-weight: bold;
  margin-right: .3rem;
}
.page4 .ul4 li .wb {
  width: 8rem;
  height: .3rem;
  border-radius: .03rem;
  border: .01rem solid #ddd;
}
.page4 .ul4 li .w8 {
  width: 1.2rem;
  font-size: .16rem;
  margin-right: .3rem;
}
.page4 .ul4 li button {
  width: .8rem;
  background: #337ab7;
  height: .35rem;
  border-radius: .03rem;
  color: white;
}
.page4 .ul4 .ed {
  height: 2.2rem;
  margin-top: .1rem;
  align-items: flex-start;
}
.page4 .ul4 .pic {
  height: auto;
}
.page4 .ul4 .pic img {
  width: 1rem;
}
.page4 .ul4 .line {
  border-bottom: .02rem solid #ddd;
}
.page4 .ul4 .line span {
  text-align: center;
  margin: 0;
}
.page4 .ul4 .line .w16 {
  width: 1.6rem;
}
.page4 .ul4 .line .w16 .pg {
  width: 1rem;
  margin: 0 0 -0.03rem 0.25rem;
  border: .01rem solid #ddd;
}
.page4 .ul4 .line .w8 {
  width: .8rem;
}
.page4 .ul4 .h4 {
  height: .3rem;
  margin: 0;
}
.page4 .ul4 .h4 .nb {
  border: none;
}
.page4 .ul4 .h4 button {
  width: .32rem;
  height: .2rem;
  line-height: .2rem;
  margin: 0 .02rem;
  padding: 0;
  font-size: .05rem;
  background: peru;
}
.page4 .file {
  position: relative;
  display: inline-block;
  background: #337ab7;
  border: 1px solid ;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  font-size: .15rem;
}
.page4 .file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.page4 .dir-bt {
  font-size: .15rem;
  justify-content: space-between;
  padding: 0 .1rem 0 .88rem;
}
.page4 .dir-bt .bt1 {
  background: #96d196;
  margin-right: .1rem;
}
.page4 .dir-bt .bt2 {
  width: .54rem;
  background: white;
  color: black;
  border: .01rem solid #ddd;
}
